<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @document.body %>
</p>

<p>
  <b>Creator:</b>
  <%= @document.creator_id %>
</p>

<p>
  <b>Revisor:</b>
  <%= @document.revisor_id %>
</p>

<p>
  <b>Expire on:</b>
  <%= @document.expire_on %>
</p>


<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
